<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ROPA">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>


<application
        android:name="io.flutter.app.FlutterApplication"
        android:label="playground_flutter"
         <meta-data android:name="com.mapbox.token" android:value="MAP_KEY" />
